* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* background-color: #8EC5FC; */
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 20vh;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    border-radius: 5px;
}

form input:focus {
    outline: 5px solid #8EC5FC;
}

form button {
    color: white;
    background: #c8a0ee;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: white;
    color: #c8a0ee;
}




.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    /* min-width: 30%; */
    min-width: 300px;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: #444;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1.5rem;
    border-radius: 5px;
}

.todo li {
    flex: 1;
}

.completedBtn,
.trashBtn {
    color: white;
    padding: 1rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

.completedBtn {
    background: #5fb35f;
}

.trashBtn {
    background: #ff6347;
}

.todo-item {
    padding: 0 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}